---
const {blok, slug} = Astro.props
// console.log(blok)
---


<div class="bg-white px-6 pt-0 md:py-20 py-12 lg:px-8">
  <div class="pb-12 max-w-7xl mx-auto">
    <div>
      <nav class="sm:hidden" aria-label="Back">
        <a href="#" class="flex items-center text-sm font-medium text-gray-500 hover:text-gray-700">
          <svg class="-ml-1 mr-1 h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
          </svg>
          Back
        </a>
      </nav>
      <nav class="hidden sm:flex" aria-label="Breadcrumb">
        <ol role="list" class="flex items-center space-x-4">
          <li>
            <div class="flex">
              <a href="/teams" class="text-sm font-medium text-gray-500 hover:text-gray-700">Teams</a>
            </div>
          </li>
          <li>
            <div class="flex items-center">
              <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
              </svg>
              <a href=`/teams/${slug}` class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">{blok.name}</a>
            </div>
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="mx-auto max-w-2xl text-center">
    <p class="text-base font-semibold leading-7 text-indigo-600">
      Team Spotlight
    </p>
    <h2
      class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
    >
      {blok.name}
    </h2>
    <p class="mt-6 text-lg leading-8 text-gray-600">
      {blok.description}
    </p>
  </div>
</div>