<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<div class="bg-[#110f5b] py-16 sm:py-24 lg:py-24">
	<div class="mx-auto grid max-w-7xl grid-cols-1 gap-10 px-6  lg:gap-8 lg:px-8">
	  <div class="max-w-7xl text-3xl font-bold tracking-tight text-white sm:text-4xl lg:col-span-7">
		<h2 class="inline sm:block lg:inline xl:block text-center text-3xl">eClub is how you stay up to date with everything entrepreneurship.</h2>
	  </div>
  </div>
  